#slides 
{
z-index:100;
}

.slides_container 
{
width:656px;
height:368px;
overflow:hidden;
display:none;
}

.pagination 
{
position:relative;
top:-15px;
left:-180px;
width:300px;
z-index:100;
}

.pagination li 
{
margin:0 3px;
list-style:none;
display: inline-block;
}

.pagination li a 
{
display:block;
width:10px;
height:0px;
padding-top:10px; 
border-radius:30px;
background-color:#000033; 
background-repeat:no-repeat; 
overflow:hidden;
}

.pagination li.current a 
{
border-radius:30px;
background-color:#0033FF;
}

.contePagina ul 
{
    text-align: center;
    width: 950px;
}